.home{
    max-width: 100%;
    margin-left: 80px;
    margin-right: 80px;
}

.home__row{
    display: flex ;
    z-index: 1;
    margin-left: 10px ;
    margin-right: 10px;
}

.home__banner{
    height: 500px;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0 , 0 , 0 , 1), rgba(0 , 0 , 0 , 0));
    z-index: -1;
    margin-bottom: -150px;
}