.product{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:10px ;
    padding: 20px ;
    width: 100% ;
    max-height: 400px;
    min-width: 100px; 
    background-color: white;
    z-index: 1; 
}
.product__title {
    text-decoration: none;
    color: black;
}
.product__title:hover {
    color:#f7a714;
}
.product__info{
    height: 100px;
    margin-bottom: auto;
}

.product__price{
    margin-top: 5px;
}

.product__rating{
    display:flex;
}

.product__image {
    max-height:200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px
}

.product > button {
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 200;
    align-self: center;
    align-content: center;
    width: 150px;
    background-color: #f0c14b;
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
}

.product > button:hover {
    font-weight: bold;
    background-color: #f1b314;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}